.addRecipeBtn {
    bottom: 80px !important;
    right: 20px !important;
    left: auto !important;
    width: 56px;
    height: 56px;
    font-size: 22px;
}

.addToShoppingListBtn {
    top: auto !important;
    bottom: 15px;
    left: auto !important;
    right: 15px;
    font-size: 25px;
    z-index: 99;
}